<!DOCTYPE html>
<html>
    <head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <title>RuiStat</title>
    </head>
    <body style = "margin : 10">
        {% if username =="rui"%}
            <a href="/newpost" class = "navbar">
                New Post
            </a>
        {% else %}
            <a href="/" class = "navbar">
             Welcome!
            </a>           
        {% endif %}
        <div id="navbar"> 
        <ul> 
        <li><a href="/">Home</a></li> 
        <li><a href="#">Algorithm</a></li> 
        <li><a href="#">Database</a></li>
        <li><a href="#">Analytics<a></li>
        <li><a href="#">About</a></li> 
        <li><a href="#">Contact us</a></li> 
        </ul> 
        </div> 
        
        <div class="login-area">
            {% if username %}
            <span>Welcome {{username}}!</span>
            |
            <a class="login-link" href = "/logout">logout</a>
            {% else %}
            <a class="login-link" href="/login">login</a>
            |
            <a class="login-link" href="/signup">signup</a>
            {% endif%}
        </div>
        <a href = "/" class="ruistats-title">
            RuiStats Blog
        </a>
        

        {% block content %}
        {% endblock %}
    </body>
</html>
