{% extends "base.html" %}

{% block content %}
<div id="a">
   <table style="display: inline-block;">
      <tr>
         <td>
            <a  href = "/algorithm">
            <img class = "pics" src="/images/algorithm_1.png" />
            </a>
         </td>
        </tr>
        <tr>
         <td>
            <span class = "navname">
                  Algorithm
            </span>
         </td>
      </tr>
    </table>
    <table style="display: inline-block;">
      <tr>
         <td>
            <a  href = "/inprogress">
            <img class = "pics" src="/images/database_1.png"/>
            </a>
         </td>
        </tr>
        <tr>
         <td>
            <span class = "navname">
                  Database
            </span>
         </td>
      </tr>
    </table>
</div>
<div id="a">
   <table style="display: inline-block;">
      <tr>
         <td>
            <a  href = "/inprogress">
            <img class = "pics" src="/images/smartCat.png"/>
            </a>
         </td>
        </tr>
        <tr>
         <td>
            <span class = "navname">
                  Analytics
            </span>
         </td>
      </tr>
    </table>
    <table style="display: inline-block;">
      <tr>
         <td>
            <a  href = "/inprogress">
            <img class = "pics" src="/images/more_1.png"/>
            </a>
         </td>
        </tr>
        <tr>
         <td>
            <span class = "navname">
                  More
            </span>
         </td>
      </tr>
    </table>
</div>
{% endblock %}

