{% extends "base.html" %}
{% block content %}
<div>
    <div style="float:left">
    <h2>Resume form</h2>
        <form method="post">
            <table>
            <tr>
              <td class="label">
                First Name
              </td>
              <td>
                <input type="text" name="firstname" value="{{firstname}}">
              </td>
              <td class="error">
                {{error_firstname}}
              </td>
            </tr>
            <tr>
              <td class="label">
                Last Name
              </td>
              <td>
                <input type="text" name="lastname" value="{{lastname}}">
              </td>
              <td class="error">
                {{error_lastname}}
              </td>
            </tr>
            <tr>
              <td class="label">
                Title
              </td>
              <td>
                <input type="text" name="title" value="{{title}}">
              </td>
              <td class="error">
                {{error_title}}
              </td>
            </tr>
            </table>
            <input id="search" value="Ready for a Cat walk" type="submit">
            </form>
        </div>
</div>
<iframe name="dynamicframe" id="dynamicframe" src="javascript:'-'"></iframe>
{% endblock %}